@*@model List<allpax_service_record.Models.View_Models.vm_workDesc>*@

@{
    //dailyReportByReportID = this.ViewData.ContainsKey("dailyReportByReportID") ? this.ViewData["dailyReportByReportID"] : null;
}

<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {//begin document read jquery statements

            //begin #addButton
            $("#addButton").click(function () {//when the add button is clicked...

                alert('yo')

                //console.log($(this).attr("id"))
                //console.log($(this).attr("class"))

                //$(this).parent().find(".#txt_dailyReportID").val();

                //var addItem1 = $("#addRecordItem1").val();
                //var addItem2 = $("#addRecordItem2").val();
                //var addItem3 = $("#addRecordItem3").val();
                //var addItem4 = $("#addRecordItem4").val();
                //var addItem5 = $("#addRecordItem5").val();
                //var addItem6 = $("#addRecordItem6").val();

                //alert(
                //    "Selected for Add POST:" + '\n' +
                //    "addItem1: " + addItem1 + '\n' +
                //    "addItem2: " + addItem2 + '\n' +
                //    "addItem3: " + addItem3 + '\n' +
                //    "addItem4: " + addItem4 + '\n' +
                //    "addItem5: " + addItem5 + '\n' +
                //    "addItem6: " + addItem6 + '\n'
                //);
                //$("#addRecordItem1").val('');
                //$("#addRecordItem2").val('');
                //$("#addRecordItem3").val('');
                //$("#addRecordItem4").val('');
                //$("#addRecordItem5").val('');
                //$("#addRecordItem6").val('');
                //begin axios add post
                axios.post('/workDescByTimeEntryID/AddWorkDesc', {
                    dailyReportID: '50',
                    workDescription: 'yo',
                    userName: 'tgoss',

                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                //end axios add post
            });
            //end #addButton


        });//end document read jquery statements
    </script>


</head>

@using (Html.BeginForm("AddWorkDesc", "workDescByTimeEntryID", FormMethod.Post))
{
    <!--begin workDescriptionLine_template-->
    <div class="col-12" id="workDescriptionLine_template">

        <div class="col-3" style="padding:5px">
            <div>
                <span><strong>Record No</strong></span>
                @*<span id="txt_dailyReportID" value="@Model.First().dailyReportID">@Model.First().dailyReportID</span>*@
                @*<span id="txt_dailyReportID" value=@dailyReportByReportID.First().dailyReportID>@dailyReportByReportID.First().dailyReportID</span>*@
                <span id="txt_dailyReportID" value=@ViewBag.reportID>@ViewBag.reportID</span>
            </div>
        </div><div class="row" id="">
            <div class="col-8" style="padding:5px" contenteditable="true">
                <span class="input"
                      role="textbox" id="input_workDesc"
                      contenteditable>
                    jjhkhjkjhkhjkhkj
                </span>
            </div>
            <div class="col-3" name="txt_teamMembersWorkDesc" id="txt_teamMembersWorkDesc" style="padding:5px">
                <span class="workDescTeam_" id="workDescTeam_" style="padding:5px"></span>
            </div>
            <div class="col-1" style="padding:5px">
                <select name="" id="workDescTeam_dpdwn" style="width:100%">
                    <option value="">Team</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-2" style="padding:5px">
                <div>
                    <span><strong>Time Entry:</strong></span>
                    <span id="txt_timeEntryID" value="">new</span>
                </div>
            </div>
            <div class="col-10" style="padding:5px">
                <button type="button" class="btn btn-primary btn-sm" id="addButton" style="background-color: royalblue; width: 100%">Save Entry</button>
            </div>
        </div>
    </div>
    <!--end workDescriptionLine_template-->

}

