@model IEnumerable<allpax_service_record.Models.tbl_dailyReport>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Create new daily report*@

<head>
    <style>
        .container {
            border: 2px solid black;
        }
    </style>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {//begin document read jquery statements

            var myArray = { id1: 100, id2: 200, "tag with spaces": 300 };
            myArray.id3 = 400;
            myArray["id4"] = 500;

            $.each(myArray, function (index, value) {
                console.log("item: "+index+" has a value of "+value);
            });

            var jobs_dpdown = $('#jobs_dpdown');
            var subJobTypes_dpdwn = $('#subJobTypes_dpdwn');
            var team_dpdwn = $('#team_dpdwn');
            var dailyRptAuthor = $('#dailyRptAuthor').html();//suck in the current user name along with the domain
            dailyRptAuthor = dailyRptAuthor.replace(/@@.*/, "");//chop off the domain
            var lastDlyRptCrtdByUser;

            //begin fill the jobs dropdown
            $.ajax({
                url: 'DataService.asmx/GetAllJobNos',
                method: 'post',
                dataType: 'json',
                success: function (data) {

                    jobs_dpdown.append($('<option/>', { value: -1, text: 'Select Job' }));

                    $(data).each(function (index, item) {
                        jobs_dpdown.append($('<option/>', { value: item.jobID, text: item.jobID }));
                    });
                }
            });
            //end fill the jobs dropdown

            //begin jobs id dropdown change
            jobs_dpdown.change(function () {

                $.ajax({
                    url: 'DataService.asmx/GetCustomerInfoByJobID',
                    method: 'post',
                    dataType: 'json',
                    data: { jobID: jobs_dpdown.val() },
                    success: function (data) {

                        $(data).each(function (index, item) {
                            $("#output_customerName").html(item.customerName.toString());
                            $("#output_location").html(item.address.toString());
                            $("#output_customerCode").html(item.customerCode.toString());
                            $("#output_customerContact").html(item.customerContact.toString());
                        });
                    }
                });

                //begin fill the team names dropdown
                $('#subJobTypes_dpdwn').removeAttr("disabled");
                $('#subJobTypes_dpdwn').empty();//clear the dropdown
                $('#input_jobs_dpdown').val('1');//

                $.ajax({
                    url: 'DataService.asmx/GetSubJobTypesByJobID',
                    method: 'post',
                    dataType: 'json',
                    data: { jobID: jobs_dpdown.val() },
                    success: function (data) {

                        subJobTypes_dpdwn.append($('<option/>', { value: '', text: 'Select a Job Sub-Type' }));

                        $(data).each(function (index, item) {
                            subJobTypes_dpdwn.append($('<option/>', { value: item.subJobID, text: item.description }));
                        });
                    }
                });
                //end fill sub jobs dropdown

            });
            //end jobs id dropdown change

            //begin fill the team names dropdown
            $.ajax({
                url: 'DataService.asmx/GetAllTeamNames',
                method: 'post',
                dataType: 'json',
                data: { userName: '%' },
                success: function (data) {
                    team_dpdwn.append($('<option/>', { value: -1, text: 'Add Team Member' }));

                    $(data).each(function (index, item) {
                        team_dpdwn.append($('<option/>', { value: item.userName, text: item.name + "-" + item.shortName }));
                    });
                }
            });
            //end fill the team names dropdown

            //begin #addButton
            $("#addButton").click(function () {//when the add button is clicked...

                var addItem1 = $("#jobs_dpdown").val();
                var addItem2 = $("#slct_date").val();
                var addItem3 = $("#subJobTypes_dpdwn").val();
                var addItem4 = $("#input_startTime").val();
                var addItem5 = $("#input_endTime").val();
                var addItem6 = $("#input_lunch").val();
                var addItem7 = $("#input_equipment").val();
                var addItem7 = $("#input_equipment").val();
                var addItem8 = dailyRptAuthor;

                //alert(
                //    "Selected for Add POST:" + '\n' +
                //    "addItem1: " + addItem1 + '\n' +
                //    "addItem2: " + addItem2 + '\n' +
                //    "addItem3: " + addItem3 + '\n' +
                //    "addItem4: " + addItem4 + '\n' +
                //    "addItem5: " + addItem5 + '\n' +
                //    "addItem6: " + addItem6 + '\n' +
                //    "addItem7: " + addItem7 + '\n' +
                //    "addItem8: " + addItem8 + '\n'
                //);
                //$("#addRecordItem1").val('');
                //$("#addRecordItem2").val('');
                //$("#addRecordItem3").val('');
                //$("#addRecordItem4").val('');
                //$("#addRecordItem5").val('');
                //$("#addRecordItem6").val('');
                //$("#addRecordItem7").val('');
                //$("#addRecordItem8").val('');

                //begin axios add post
                axios.post('/dailyReport/AddDailyReport', {
                    jobID: addItem1,
                    date: addItem2,
                    subJobID: addItem3,
                    startTime: addItem4,
                    endTime: addItem5,
                    lunchHours: addItem6,
                    equipment: addItem7,
                    dailyReportAuthor: addItem8
                })
                    .then(function (response) {
                        console.log(response);
                        //begin get last daily report created by user name
                        $.ajax({
                            url: 'DataService.asmx/GetLastDlyRptCrtdByUserName',
                            method: 'post',
                            dataType: 'json',
                            data: { dailyReportAuthor: dailyRptAuthor },
                            success: function (data) {

                                $(data).each(function (index, item) {
                                    lastDlyRptCrtdByUser = item;
                                    //window.location = '/DailyReportByReportID?reportID=' + lastDlyRptCrtdByUser;
                                });
                            }
                        });
                    })               
                    .catch(function (error) {
                        console.log(error);
                    });
            });

            var fields = "#slct_date, #input_jobs_dpdown, #input_equipment, #input_startTime, #input_endTime, #input_lunch, #subJobTypes_dpdwn";

            $(fields).on('change', function () {
                if (allFilled()) {
                    $('#addButton').removeAttr('disabled');
                } else {
                    $('#addButton').attr('disabled', 'disabled');
                }
            });

            function allFilled() {
                var filled = true;
                $(fields).each(function () {
                    if ($(this).val() == '') {
                        filled = false;
                    }
                });
                return filled;
            }

        });//end document read jquery statements
    </script>
</head>

<div class="container">
    <h3 style="text-align:center">CREATE A NEW FIELD SERVICE RECORD</h3>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Daily Log Information</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <div>
                <span><strong>Record No</strong></span>
                <span class="recordNo">new</span>
            </div>
        </div>
        <div class="col-3" style="padding:5px">
            <div>
                <span><strong>Author</strong></span>
                <span class="" id="dailyRptAuthor">@User.Identity.GetUserName()</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="md-col-2" style="padding:5px">
            <strong>Job:</strong>
        </div>
        <div class="md-col-2" style="padding:5px">
            <select name="jobs_dpdown" id="jobs_dpdown" style="width:100%" value="">
            </select>
            <input type="text" id="input_jobs_dpdown" name="" style="width:100%" hidden>
        </div>
        <div class="md-col-5" style="padding:5px"></div>
        <div class="md-col-1" style="padding:5px">
            <strong>Date:</strong>
        </div>
        <div class="md-col-2" style="padding:5px">
            <input type="date" class="form-control form-control-sm" id="slct_date" placeholder="" value="@DateTime.Today.ToString("yyyy-MM-dd")">
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Customer:</strong>:
        </div>
        <div class="col-7" style="padding:5px" id="output_customerName"></div>
        <div class="col-1" style="padding:5px">
            <strong>Sub Job:</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <select name="subJobTypes_dpdwn" id="subJobTypes_dpdwn" style="width:100%" disabled>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Location:</strong>
        </div>
        <div class="col-7" style="padding:5px" id="output_location"></div>
        <div class="col-1" style="padding:5px">
            <strong>Code:</strong>
        </div>
        <div class="col-2" style="padding:5px" id="output_customerCode"></div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Customer Contact:</strong>
        </div>
        <div class="col-10" style="padding:5px" id="output_customerContact"></div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Equipment:</strong>
        </div>
        <div class="col-10" style="padding:5px">
            <input type="text" value="" id="input_equipment" name="" style="width:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Start Time:</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <input type="time" class="form-control form-control-sm" id="input_startTime">
        </div>
        <div class="col-2" style="padding:5px">
            <strong>End Time:</strong>
        </div>
        <div class="col-2" style="padding:5px">
            <input type="time" class="form-control form-control-sm" id="input_endTime">
        </div>
        <div class="col-2" style="padding:5px">
            <strong>Lunch (hr)</strong>
        </div>
        <div class="col-1" style="padding:5px">
            <input type="text" class="form-control form-control-sm" id="input_lunch" value="1">
        </div>
        <div class="col-1" style="padding:5px">
        </div>
    </div>
</div>
<hr style="margin:1px; opacity:0" />
<div class=" container">
    <button type="submit" class="btn btn-primary btn-sm" id="addButton" disabled>Save and Continue</button>
</div>
<hr style="margin:1px; opacity:0">
<div class="container" id="contnr_team">
    <div class="row">
        <div class="col-2" style="padding:5px">
            <strong>Allpax Team:</strong>
        </div>
        <div class="col-10" style="padding:5px">
            <div class="row" style="margin:0px;">
                <select name="team_dpdwn" id="team_dpdwn" style="width:100%" disabled>
                    <option value="-1">Add Team Member</option>                   
                </select>
            </div>
            <div class="row" style="margin:0px;" name="txt_teamMembers" id="txt_teamMembers">
            </div>
        </div>
    </div>
</div>
<hr style="margin:1px; opacity:0">
<div class="container" id="">
    @*<div class=" container pl-auto printable" style="margin:5px" id="contnr_workDescription">*@
        <div class="row">
            <div class="col-8" style="padding:5px">
                <strong>Work Description</strong>
            </div>
            <div class="col-4" style="padding:5px">
                <strong>Team</strong>
            </div>
        </div>
        <div class="col-12" id="workDescriptionLine_template">
            <div class="row" id="">
                <div class="col-8" id="input_workDesc" style="padding:5px; border: 1px solid black;" contenteditable="false">
                </div>
                <div class="col-2" name="txt_teamMembersWorkDesc" id="txt_teamMembersWorkDesc" style="padding:5px">
                    <span class="workDescTeam_" id="workDescTeam_" style="padding:5px"></span>
                </div>
                <div class="col-2" style="padding:5px">
                    <select class="workDescTeam_dpdwn" name="" style="width:100%" disabled>
                        <option value="">Team</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-2" style="padding:5px">
                    <div>
                        <span><strong>Time Entry:</strong></span>
                        <span id="txt_timeEntryID" value="">new</span>
                    </div>
                </div>
                <div class="col-10" style="padding:5px">
                    <button type="button" class="btn btn-primary btn-sm" id="addWorkDescBtn" style="width: 100%" disabled>Save Entry</button>
                </div>
            </div>
        </div>
    @*</div>*@
</div>
<hr style="margin:1px; opacity:0">
<div class="container" id="">
    @*<div class=" container pl-auto printable" style="margin:5px" id="contnr_workDescription">*@
        <div class="row">
            <div class="col-7" style="padding:5px">
                <strong>Delays</strong>
            </div>
            <div class="col-1" style="padding:5px">
                <strong>Hours</strong>
            </div>
            <div class="col-4" style="padding:5px">
                <strong>Team</strong>
            </div>
        </div>
        <div class="col-12" id="workDescriptionDelaysLine_template">
            <div class="row" id="">
                <div class="col-7" id="input_workDescDelays" style="padding:5px; border: 1px solid black;" contenteditable="false">
                </div>
                <div class="col-1" style="padding:5px">
                    <input type="text" class="form-control form-control-sm" id="inputHours_workDescDelays" value="" disabled>
                </div>
                <div class="col-2" name="txt_teamMembersWorkDescDelays" id="txt_teamMembersWorkDescDelays" style="padding:5px">
                    <span class="workDescDelaysTeam_" id="workDescDelaysTeam_" style="padding:5px"></span>
                </div>
                <div class="col-2" style="padding:5px">
                    <select class="workDescDelaysTeam_dpdwn" name="" style="width:100%" disabled>
                        <option value="">Team</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-2" style="padding:5px">
                    <div>
                        <span><strong>Time Entry:</strong></span>
                        <span id="txt_timeEntryIDDelays" value="">new</span>
                    </div>
                </div>
                <div class="col-10" style="padding:5px">
                    <button type="button" class="btn btn-primary btn-sm" id="addWorkDescDelaysBtn" style="width: 100%" disabled>Save Entry</button>
                </div>
            </div>
        </div>
    @*</div>*@
</div>
<hr style="margin:1px; opacity:0">
<div class="container" id="">
    @*<div class=" container pl-auto printable" style="margin:5px" id="contnr_workDescription">*@
        <div class="row">
            <div class="col-7" style="padding:5px">
                <strong>Warranty Delays</strong>
            </div>
            <div class="col-1" style="padding:5px">
                <strong>Hours</strong>
            </div>
            <div class="col-4" style="padding:5px">
                <strong>Team</strong>
            </div>
        </div>
        <div class="col-12" id="workDescriptionWntyDelaysLine_template">
            <div class="row" id="">
                <div class="col-7" id="input_workDescWntyDelays" style="padding:5px; border: 1px solid black;" contenteditable="false">
                </div>
                <div class="col-1" style="padding:5px">
                    <input type="text" class="form-control form-control-sm" id="inputHours_workDescWntyDelays" value="" disabled>
                </div>
                <div class="col-2" name="txt_teamMembersWorkDescWntyDelays" id="txt_teamMembersWorkDescWntyDelays" style="padding:5px">
                    <span class="workDescWntyDelaysTeam_" id="workDescWntyDelaysTeam_" style="padding:5px"></span>
                </div>
                <div class="col-2" style="padding:5px">
                    <select class="workDescWntyDelaysTeam_dpdwn" name="" style="width:100%" disabled>
                        <option value="">Team</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-2" style="padding:5px">
                    <div>
                        <span><strong>Time Entry:</strong></span>
                        <span id="txt_timeEntryIDWntyDelays" value="">new</span>
                    </div>
                </div>
                <div class="col-10" style="padding:5px">
                    <button type="button" class="btn btn-primary btn-sm" id="addWorkDescWntyDelaysBtn" style="width: 100%" disabled>Save Entry</button>
                </div>
            </div>
        </div>
    @*</div>*@
</div>
