@model IEnumerable<allpax_sale_miner.Models.tbl_eqpmt_type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        $(document).ready(function () {//begin document read jquery statements
         //$('#datable_eqpmgmt thead tr').clone(true).appendTo( '#datable_eqpmgmt thead' );
         //$('#datable_eqpmgmt thead tr:eq(1) th').each( function (i) {
         //    var title = $(this).text();
         //    $(this).html( '<input type="text" placeholder=" " />' );
 
         //    $( 'input', this ).on( 'keyup change', function () {
         //        if ( table.column(i).search() !== this.value ) {
         //            table
         //                .column(i)
         //                   .search( this.value )
         //                    .draw();
         //        }
         //    } );
         //} );

            var eqpmtTypes_Dpdwn = $('#addRecordItem1');

            //begin fill the equipment type dropdown
            $.ajax({
                url: 'DataService.asmx/GetEqpmtTypes',
                method: 'post',
                dataType: 'json',
                success: function (data) {

                    eqpmtTypes_Dpdwn.append($('<option/>', { value: -1, text: 'Select Equipment Type' }));
                    $(data).each(function (index, item) {
                        eqpmtTypes_Dpdwn.append($('<option/>', { value: item.eqpmtType, text: item.eqpmtType }));
                    });
                }
            });
            //end fill the equipment type dropdown
 
            var table = $('#datable_eqpmgmt').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                paging: false,
                order: [[1, "asc"]],
                "searching": false,
            });
          
            $('.dataTables_length').addClass('bs-select');
            //begin when a record class is clicked...
            $(".record").on('click keyup change', function () {
                selectedItem0 = $(this).attr("id");//works
                selectedItem1 = $(this).find("#record_item1").html();//works valid for inner html only
                selectedItem2 = $(this).find("#record_item2").html();//works valid for inner html only
                selectedItem3 = $(this).find("#record_item3").html();//works valid for inner html only

                $("#slctd_id").val(selectedItem0);
                $("#slctd_eqpmtType").val(selectedItem1);
                $("#slctd_model").val(selectedItem2);
                $("#slctd_description").val(selectedItem3);

            });
            //end when a record class is clicked...
            $(".btn.btn-primary.editButton").click(function () {//when a record's edit button is clicked...
                $(this).parent().find(".editButton").hide();
                $(this).parent().find(".updateButton").show();
                $(this).parent().find(".deleteButton").hide();
                $(this).parent().find(".cancelButton").show();

                $(this).parent().parent().css("background-color", "powderblue");//change bkgnd color
                $(this).parent().parent().attr("contenteditable", "true");//set all <td> in the record to editable
                $(this).parent().parent().find("#record_item0").attr("contenteditable", "false");//set the id <td> to not editable
                $(this).parent().parent().find(".cancelButton").css("background-color", "indianred");//change cancel buttn clr after edit is clicked
                $(this).parent().parent().find(".cancelButton").css("border", "indianred");//change cancel buttn clr after edit is clicked
                $(this).parent().parent().find(".updateButton").css("background-color", "steelblue");//change cancel buttn clr after edit is clicked
                $(this).parent().parent().find(".updateButton").css("border", "steelblue");//change cancel buttn clr after edit is clicked
            });
            $(".btn.btn-primary.cancelButton").click(function () {//when a record's edit button is clicked...
                $(this).parent().find(".editButton").show();
                $(this).parent().find(".updateButton").hide();
                $(this).parent().find(".deleteButton").show();
                $(this).parent().find(".cancelButton").hide();
                $(this).parent().find(".confirmButton").hide();

                $(this).parent().parent().css("background-color", "transparent");
                $(this).parent().parent().attr("contenteditable", "false");
            });
            $(".btn.btn-primary.deleteButton").click(function () {//when a record's edit button is clicked...
                $(this).parent().find(".editButton").hide();
                $(this).parent().find(".updateButton").hide();
                $(this).parent().find(".deleteButton").hide();
                $(this).parent().find(".cancelButton").show();
                $(this).parent().find(".confirmButton").show();

                $(this).parent().parent().css("background-color", "powderblue");//change bkgnd color
                $(this).parent().parent().attr("contenteditable", "false");
                $(this).parent().parent().find(".cancelButton").css("background-color", "indianred");//change cancel buttn clr after delete is clicked
                $(this).parent().parent().find(".cancelButton").css("border", "indianred");//change cancel buttn clr after edit is clicked
                $(this).parent().parent().find(".confirmButton").css("background-color", "steelblue");//change confirm buttn color after delete is clicked
                $(this).parent().parent().find(".confirmButton").css("border", "steelblue")
            });

            //begin #addButton
            $("#addButton").click(function () {//when the add button is clicked...
                var addItem1 = $("#addRecordItem1").val();
                var addItem2 = $("#addRecordItem2").val();
                var addItem3 = $("#addRecordItem3").val();

                alert(
                    "Selected for Add POST:" + '\n' +
                    "addItem1: " + addItem1 + '\n' +
                    "addItem2: " + addItem2 + '\n' +
                    "addItem3: " + addItem3 + '\n'
                );
                $("#addRecordItem1").val('');
                $("#addRecordItem2").val('');
                $("#addRecordItem3").val('');
                //begin axios add post
                axios.post('/EqpmtMgmt/AddEqpmt', {
                    eqpmtType: addItem1,
                    model: addItem2,
                    description: addItem3
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                //end axios add post
            });
            //end #addButton

            //begin confirm edit record
            $(".btn.btn-primary.updateButton").click(function () {//when a record's edit button is clicked...
                $(this).hide();
                $(this).parent().find(".updateButton").hide();
                $(this).parent().find(".editButton").show();
                $(this).parent().find(".deleteButton").hide();
                $(this).parent().find(".cancelButton").show();

                $(this).parent().parent().attr("contenteditable", "false");
                $(this).parent().parent().css("background-color", "transparent");
                $(this).parent().parent().find(".cancelButton").css("background-color", "royalblue");//change cancel button color after update is clicked
                $(this).parent().find(".cancelButton").hide();
                $(this).parent().find(".deleteButton").show();

                var editItem0 = $("#slctd_id").val();
                var editItem1 = $("#slctd_eqpmtType").val();
                var editItem2 = $("#slctd_model").val();
                var editItem3 = $("#slctd_description").val();

                alert(
                    "Selected for Edit POST:" + '\n' +
                    "editItem0: " + editItem0 + '\n' +
                    "editItem1: " + editItem1 + '\n' +
                    "editItem2: " + editItem2 + '\n' +
                    "editItem3: " + editItem3 + '\n'
                );

                //begin axios add post
                axios.post('/EqpmtMgmt/UpdateEqpmt', {                   
                    eqpmtType: editItem1,
                    model: editItem2,
                    description: editItem3,
                    id: editItem0
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                //end axios add post
            });
            //end confirm edit record

            //begin axios confirm delete record
            $(".btn.btn-primary.confirmButton").click(function () {//when a record's delete button is clicked...
                alert(
                    "Selected for DELETE:" + '\n' +
                    "id: " + selectedItem0 + '\n' +
                    "eqpmtType: " + selectedItem1 + '\n' +
                    "model: " + selectedItem2 + '\n' +
                    "description: " + selectedItem3 + '\n'
                );

                axios.post('/EqpmtMgmt/DeleteEqpmt', {
                    id: selectedItem0
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

            });
            //end axios confirm delete record
        });//end document read jquery statements
    </script>
    <!--md bootstrap additions begin-->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/Content/mdb.min.css" rel="stylesheet">
    <!-- MDBootstrap Datatables  -->
    <link href="~/Content/MDBootstrap/css/addons/datatables.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="" rel="stylesheet">
</head>
<style>
    div.row {
        width: auto;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0px;
    }

    .form-group {
        margin: 5px;
    }
</style>
<div class="container-fluid">
    <hr />
    <!--begin inline add-->
    <div class="row">
        <div class="col-md-12">
            <h5>Equipment Management-what models exist for each type of equipment</h5>
            <form class="form-inline">
                <div class="form-group">
                    @*<label for="addRecordItem1">Type</label>
        <input type="text" class="form-control" id="addRecordItem1" placeholder="Equipment Type" value="">*@
                    @*<label for="addRecordItem1">Equipment Type</label>*@
                    @*@Html.DropDownList("eqpmtType", null, "Select Equipment Type", new { @id = "addRecordItem1", @name = "addRecordItem1", @class = "form-control form-control-sm" })*@
                    <select class="form-control form-control-sm" id="addRecordItem1" name="addRecordItem1">
                    </select>
                </div>
                <div class="form-group">
                    @*<label for="addRecordItem2">Model</label>*@
                    <input type="text" class="form-control form-control-sm" id="addRecordItem2" placeholder="Model" value="">
                </div>
                <div class="form-group">
                    @*<label for="addRecordItem3">Description</label>*@
                    <input type="text" class="form-control form-control-sm" id="addRecordItem3" placeholder="Description" value="">
                </div>
                <button type="submit" class="btn btn-primary btn-sm" id="addButton" style="background-color: royalblue">Add</button>
            </form><hr />
        </div>
    </div>
</div>
<!--click event begin-->
<div>
    <div class="row" style="display:none">
        <div class="col-md-1">ID: <input type="text" id="slctd_id" value="slctd_id"></div>
        <div class="col-md-2">EquipmentType: <input type="text" id="slctd_eqpmtType" value="slctd_eqpmtType"></div>
        <div class="col-md-2">Model: <input type="text" id="slctd_model" value="slctd_model"></div>
        <div class="col-md-2">description: <input type="text" id="slctd_description" value="slctd_description"></div>
    </div>
</div>
    <!--click event end-->
    <!--table begin-->
<div class="container-fluid">
    <div class="col-md-12" style="border:none">
        <table id="datable_eqpmgmt" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="th-sm">
                        ID
                    </th>
                    <th class="th-sm">
                        Equipment Type
                    </th>
                    <th class="th-sm">
                        Model
                    </th>
                    <th class="th-sm">
                        Description
                    </th>
                    <th class="th-sm">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="record" id=@Html.DisplayFor(modelItem => item.id)>
                        <td id="record_item0" value=@Html.DisplayFor(modelItem => item.id)>@Html.DisplayFor(modelItem => item.id)</td>
                        <td id="record_item1" value=@Html.DisplayFor(modelItem => item.eqpmtType)>@Html.DisplayFor(modelItem => item.eqpmtType)</td>
                        <td id="record_item2" value=@Html.DisplayFor(modelItem => item.model)>@Html.DisplayFor(modelItem => item.model)</td>
                        <td id="record_item3" value=@Html.DisplayFor(modelItem => item.description)>@Html.DisplayFor(modelItem => item.description)</td>
                        <td>
                            <button class="btn btn-primary btn-sm editButton" style=" background-color: royalblue">Edit</button>
                            <button class="btn btn-primary btn-sm updateButton" style="display:none;">Update</button>
                            <button class="btn btn-primary btn-sm deleteButton" style=" background-color: royalblue">Delete</button>
                            <button class="btn btn-primary btn-sm confirmButton" style="display:none;">Confirm</button>
                            <button class="btn btn-primary btn-sm cancelButton" style="display:none;">Cancel</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>       
    </div>
</div>
    <!--table end-->
